replicaCount: 2

image:
  repository: ghcr.io/gargashwani/fastapi-boilerplate
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: api.example.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: fastapi-boilerplate-tls
      hosts:
        - api.example.com

env:
  APP_ENV: production
  APP_DEBUG: "false"
  DB_CONNECTION: postgresql
  DB_HOST: "fastapi-db-service"
  DB_PORT: "5432"
  REDIS_HOST: "redis-master"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

postgresql:
  enabled: true
  postgresqlPassword: "change-me-securely"
  postgresqlDatabase: fastapi_boilerplate

redis:
  enabled: true
  auth:
    enabled: true
    password: "change-me-securely"
